<h1>Public::Customers#edit</h1>

<h1>ユーザー情報編集</h1>

<%= form_with url: customers_edit_path, model: @customer do |f| %>

<h5>ユーザー画像</h5>
<%= f.file_field :costomer_image, accept: "image/*" %>

<h5>ユーザー名</h5>
<%= f.text_field :name %>

<h5>メールアドレス</h5>
<%= f.email_field :email %>

<h5>プロフィール</h5>
<%= f.text_field :profile %>

<h5>パスワード</h5>
<%= f.password_field :password %>


<%= f.submit '保存' %>

<% end %>


