<%= link_to "戻る", customers_show_path(@customer) %>


<table class="table">
  <% if @customer.favorites.exists? %>
        <tbody>
          <% @favorite_posts.each do |post| %>

            <div>
    <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_post_image(500,300) %>
    <% end %>

    <%= link_to post_path(post.id) do %>
    <p>説明：<%= post.caption %></p>
    <% end %>

    <%= link_to customers_show_path(post.customer.id) do %>
    <p>ユーザー名：<%= post.customer.name %></p>
    <p>投稿ユーザー画像：<%= image_tag post.customer.get_customer_image(100,100) %></p>
    <% end %>

    <p>投稿日：<%= post.created_at %></p>
  </div>

   <% end %>
  <% else %>
  <p>お気に入り登録がありませんでした</p>
<% end %>


