<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

<% if current_customer.following?(@customer) %>
  <%= link_to "フォロー外す", unfollow_path(@customer.id), method: :delete %>
<% else %>
  <%= link_to "フォローする", follow_path(@customer.id), method: :post %>
<% end %>

<h5>ユーザー画像</h5>
後で

<h5>ユーザー名</h5>
<p><%= @customer.name %></p>

<h6>プロフィール</h6>
<p><%= @customer.profile %></p>

<p><%= link_to "フォロー", followings_path(@customer.id) %></p>
<p><%= link_to "フォロワー", followers_path(@customer.id) %></p>
<p>
  <%= link_to "いいね一覧", customers_favorites_path(current_customer) %>
</p>


<% if @customer.id == current_customer.id && !@customer.guest_customer? %>
<div>
  <%= link_to 'プロフィール編集', customers_edit_path(@customer.id) %>

  <%= link_to '退会する' , unsubscribe_path %>
</div>
<% end %>


<!--ユーザー投稿一覧-->

<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_post_image %>
    <p>説明：<%= post.caption %></p>
    <% end %>

   <%= link_to customers_show_path(post.id) do %>
    <p>ユーザー名：<%= post.customer.name %></p>
    <p>投稿ユーザー画像：<%= image_tag post.customer.get_customer_image(100,100) %></p>
    <% end %>

    <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>

    <p>
      <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
    </p>

  </div>
<% end %>