<div class="container-customer">
  <div class="row">
    <div class="col-auto">


      <% if current_customer != @customer %>
        <% if current_customer.following?(@customer) %>
          <%= link_to unfollow_path(@customer.id), class: 'btn btn-info', method: :delete do %>
          フォロー解除
          <% end %>
        <% else %>
          <%= link_to follow_path(@customer.id), class: 'btn btn-success', method: :post do%>
          フォローする
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>

    <div class="row">
      <div class="col-9">
        <div class="row px-3 py-4">

        <% if @customer.id == current_customer.id && !@customer.guest_customer? %>
          <div class="col-auto">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-success">
                <%= link_to customers_edit_path(@customer.id) do %>
                <i class="fa-solid fa-eraser text-white">プロフィール編集</i>
                <% end %>
              </button>
            </div>
          </div>

          <div class="col-auto">
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-danger">
                <%= link_to unsubscribe_path do %>
                <i class="fa-solid fa-person-circle-minus text-white">退会する</i>
                <% end %>
              </button>
            </div>
          </div>
        <% end %>
        </div>

        <div class="row">
          <div class="col-4 text-center">
            <h4><%= @customer.name %></h4>
          </div>

          <div class="col-5">
            プロフィール
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <%= image_tag @customer.get_customer_image(200,200) %>
          </div>

          <div class="col-md-5 border rounded border-secondary">
            <%= @customer.profile %>
          </div>
        </div>

        <div class="row py-4">
          <div class="col-auto">
            <%= link_to followings_path(@customer.id) do %>
            フォロー
            <%= @customer.followings.count %>
            <% end %>
          </div>

          <div class="col-auto">
            <%= link_to followers_path(@customer.id) do %>
            フォロワー
            <%= @customer.followers.count %>
            <% end %>
          </div>

          <div class="col-auto">
            <%= link_to "いいね", customers_favorites_path(current_customer) %>
          </div>
        </div>
  <!--col-9-->
      </div>
    </div>
  </div>
</div>


<!--顧客 投稿一覧-->

<%= render "public/posts/posts_list", posts: @posts %>

