
<% posts.each do |post| %>

  <% if current_admin %>
    <%= link_to "投稿削除", admin_customer_path(id: post.id), method: :delete, class: "btn btn-danger" %>
  <% end %>

  <div>
    <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_post_image(500,300) %>
    <% end %>

    <%= link_to post_path(post.id) do %>
    <p>説明：<%= post.caption %></p>
    <% end %>

    <%= link_to customers_show_path(post.customer.id) do %>
    <p>ユーザー名：<%= post.customer.name %></p>
    <p>投稿ユーザー画像：<%= image_tag post.customer.get_customer_image(100,100) %></p>
    <% end %>

    <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
  </div>

  <td>
   <%= render 'public/favorites/favorite', post: post %>
  </td>

  <p>
    <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
  </p>
<% end %>