<div class="container">
  <div class="row">
    <div class="col-8">

      <% posts.each do |post| %>

        <div class="row p-2 border rounded border">
          <div class="col-10">

            <%= link_to customers_show_path(post.customer.id) do %>
            <div class="row align-items-center">
              <div class="col-auto">
                <%= image_tag post.customer.get_customer_image(50,50) %>
              </div>

              <strong class="col-auto">
                <%= post.customer.name %>
              </strong>

              <div class="col-auto">
                <%= post.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %>
              </div>
            </div>
            <% end %>

            <%= link_to post_path(post.id) do %>
            <div class="row">
              <div class="col-7">
                <%= image_tag post.get_post_image(400,500) %>
              </div>

              <div class="col-7">
                <div class="text-wrap" style="width: 25rem;">
                  <%= post.caption %>
                </div>
              </div>
            </div>
            <% end %>

            <div class="row">
              <div class="col-auto">
                <%= render 'public/favorites/favorite', post: post %>
              </div>

              <div class="col-auto">
                <%= link_to post_path(post.id) do %>
                  <i class="fa-regular fa-comment"></i>
                  <%= post.post_comments.count %>
                  <%= post.comment_by_not_deleted_user_count %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>