<!--<h1>Public::Posts#new</h1>-->
<!--<p>Find me in app/views/public/posts/new.html.erb</p>-->

<div class="container">
  <div class="row">
    <div class="col-auto">

      <% if @post.errors.any? %>
        <div id="error_explanation">
          <span class="text-danger">
            <h5><%= @post.errors.count %>件のエラーが発生しました</h5>
          </span>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
          　<li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-8">

      <div class="row">
        <div class="col-auto">
           <h3>新規投稿</h3>
         </div>
      </div>

    <%= form_with model: @post do |f| %>
      <div class="row py-1">
        <div class="col-auto">
          <%= f.file_field :post_image, accept: "image/*" %><br/>
        </div>
      </div>

      <div class="row py-1">
        <div class="col-auto">
          <%= f.text_area :caption, autofocus: true, id:"inputCaption", style:"width: 300px; height: 200px", placeholder:"投稿の入力"%>
        </div>
      </div>

      <div class="row">
        <div class="col-auto">
          <%= f.submit '投稿', class:"btn btn-md btn-block btn-info" %>
        </div>
      </div>
    <% end %>
    <!--col-8-->
    </div>
  </div>
</div>