<% if @customers.exists? %>
  <% @customers.each do |customer| %>
    <table>
      <thead>
        <tr><%= image_tag customer.get_customer_image(100,100) %></tr>
        <tr>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to customers_show_path(customer.id) do %>
            <%= customer.name %></td>

            <% end %>
          <td>フォロー数: <%= link_to customer.followings.count, followings_path(customer) %></td>
          <td>フォロワー数: <%= link_to customer.followers.count, followers_path(customer) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>


