<!--<h1>Admin::Customers#index</h1>-->
<!--<p>Find me in app/views/admin/customers/index.html.erb</p>-->

<div class="container">
  <div class="row">
    <h3>会員一覧</h3>

      <table class="table">
        <thead>
        <tr>
          <th>会員ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer.id) do %>
              <%= customer.name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
           <td class="<%= !customer.is_active ? 'text-secondary' : 'text-success' %>"><%= !customer.is_active ? '退会済み' : '有効' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>