<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>

<% link_to "戻る", admin_customers_path %>

<th>会員ステータス</th>
  <td>
    <% if !@customer.is_active %>
      退会済み
      <%= link_to "有効にする", admin_withdraw_path(@customer.id), method: :patch, class: "btn btn-success" %>
    <% else %>
      有効
      <%= link_to "退会させる", admin_withdraw_path(@customer.id), method: :patch, class: "btn btn-danger" %>
    <% end %>
  </td>


<h5>ユーザー画像</h5>
<p><%= image_tag @customer.get_customer_image(100,100) %></p>

<h5>ユーザー名</h5>
<p><%= @customer.name %></p>

<h6>プロフィール</h6>
<p><%= @customer.profile %></p>

<!--顧客 投稿一覧-->
<% @posts.each do |post| %>

  <% if current_admin %>
    <%= link_to "投稿削除", admin_post_path(id: post.id), method: :delete, class: "btn btn-danger" %>
  <% end %>

  <div>

    <%= image_tag post.get_post_image(500,300) %>
    <p>説明：<%= post.caption %></p>
    <p>ユーザー名：<%= post.customer.name %></p>
    <p>投稿ユーザー画像：<%= image_tag post.customer.get_customer_image(100,100) %></p>
    <p>投稿日：<%= post.created_at %></p>
  </div>

  <div>
    <% post.post_comments.each do |post_comment| %>
      <p><%= image_tag post_comment.customer.get_customer_image(50,50) %></p>
      <%= post_comment.customer.name %>
      <%= post_comment.created_at %><%= post_comment.comment %>
    <% end %>
  </div>
<% end %>