<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>

<% link_to "戻る", admin_customers_path %>

<th>会員ステータス</th>
  <td>
    <% if !@customer.is_active %>
      退会済み
      <%= link_to "有効にする", admin_withdraw_path(@customer.id), method: :patch, class: "btn btn-success" %>
    <% else %>
      有効
      <%= link_to "退会させる", admin_withdraw_path(@customer.id), method: :patch, class: "btn btn-danger" %>
    <% end %>
  </td>


<h5>ユーザー画像</h5>
<p><%= image_tag @customer.get_customer_image(100,100) %></p>

<h5>ユーザー名</h5>
<p><%= @customer.name %></p>

<h6>プロフィール</h6>
<p><%= @customer.profile %></p>

<!--顧客 投稿一覧-->
<%= render "public/posts/posts_list", posts: @posts %>