<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">新規登録</h5>
      <div class="form-body p-4">



        <%= form_with model: @customer, url: customer_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
        </div>
          <%= f.text_field :name, class: "form-control", placeholder:"ユーザー名" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-regular fa-envelope"></i></span>
          </div>
          <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder:"メールアドレス" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
          </div>
    <!--<% if @minimum_password_length %>-->
    <!--<em>(<%= @minimum_password_length %> 文字以上)</em>-->
    <!--<% end %><br />-->
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder:"パスワード(6文字以上)" %>
  </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
          </div>

    <!--<%= f.label :パスワード %>-->
    <!--<em>(確認用)</em><br />-->
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete:"new-password", placeholder:"パスワード(確認用)" %>
        </div>

        <div>
          <%= f.submit "新規登録", class:"btn btn-lg btn-block btn-info mt-5" %>
        </div>
      <% end %>
        <div>
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>