<!DOCTYPE html>
<html>
  <head>
    <title>Candypop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/07e3569d7d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class ="container">
          <a class="navbar-brand" href="/">
            <h2>Candypop</h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">

            <% if customer_signed_in? %>
              <li>
                <%= link_to customers_show_path(current_customer.id), class: 'nav-link text-light' do %>
                <i class="fa-solid fa-home"></i>
                   マイページ
                <% end %>
              </li>

              <li>
                <%= link_to new_post_path, class: 'nav-link text-light' do %>
                <i class="fa-regular fa-pen-to-square"></i>
                   新規投稿
                <% end %>
              </li>

              <li>
                <%= link_to posts_path, class: 'nav-link text-light' do  %>
                <i class="fa-regular fa-rectangle-list"></i>
                  投稿一覧
                <% end %>
              </li>

              <li>
                <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                  ログアウト
                <% end %>
              </li>

            <% elsif admin_signed_in? %>
              <li>
                <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-users"></i>
                  ユーザー一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do  %>
                <i class="fa-solid fa-right-from-bracket"></i>
                  ログアウト
                <% end %>
              </li>

            <% else %>
              <li>
                <%= link_to customers_guest_sign_in_path, method: :post, class: 'nav-link text-light' do %>
                <i class="fa-sharp fa-regular fa-circle-user"></i>
                  ゲストログイン(閲覧用)
                <% end %>
              </li>

              <li>
                <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-user-plus"></i>
                  新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-door-open"></i>
                  ログイン
                <% end %>
              </li>
            <% end %>

          </div>
   </div>

  </header>

  <main>

    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>

    <!--検索-->
    <% if customer_signed_in? || admin_signed_in? %>
      <%= render 'public/searches/serche', serche: @range %>
    <% end %>

    <%= yield %>
  </main>




  </body>
</html>
